.screen {
    width: 95%;
    height: 14rem;
    background: transparent;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
    font-size: 5rem;
    color: #DDE2E6;
}